@font-face {
    font-family: Gidolinya;
    src: url(../../assets/fonts/Gidolinya-Regular.otf);
}

body {
    width: 100%;
    height: 100vh;
    font-family: Gidolinya;
    
    
    
}
.main {
margin: 0;
}
#app {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}